<div id="chocolatier">

  <ul>
    <li class="head">
      <span class="chocolatier-image"></span>
      <span class="chocolatier-name">Chocolatier</span>

      <span class="total-chocolates">Total Chocolates</span>
    </li>

    <% count =1 %>

    <% @chocolatiers.each do |chocolatier| %>
        <% class_name=" " %>

        <% if(count%2 == 0)    %>
            <% class_name = "even-li" %>
        <% else class_name = "odd-li" %>
        <% end %>
        <li class="<%= class_name %>">
          <span class="chocolatier-image"><% if !(chocolatier.photo.blank?) %><%= link_to image_tag( chocolatier.photo), chocolatier %><% else %><div id="image-blank"></div><% end %></span>
          <span class="chocolatier-name"><%= link_to chocolatier.name, chocolatier %><div id="address"><%= chocolatier.state %><% if !(chocolatier.state.blank?) %>,<% end %> <%= chocolatier.country %></div></span>

          <span class="total-chocolate"><%= chocolatier.chocolates.size %></span>
        </li>
        <% count+= 1 %>
    <% end %>
  </ul>

  <div id="chocolatier-index-page-no">
    <%= will_paginate @chocolatiers %>
  </div>
</div>