<h1>Listing chocolatiers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Chocolatier type</th>
    <th>Chocolatier url</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chocolatiers.each do |chocolatier| %>
  <tr>
    <td><%= chocolatier.name %></td>
    <td><%= chocolatier.address %></td>
    <td><%= chocolatier.city %></td>
    <td><%= chocolatier.country %></td>
    <td><%= chocolatier.state %></td>
    <td><%= chocolatier.zip_code %></td>
    <td><%= chocolatier.chocolatier_type %></td>
    <td><%= chocolatier.chocolatier_url %></td>
    <td><%= chocolatier.email %></td>
    <td><%= chocolatier.phone %></td>
    <td><%= link_to 'Show', chocolatier %></td>
    <td><%= link_to 'Edit', edit_chocolatier_path(chocolatier) %></td>
    <td><%= link_to 'Destroy', chocolatier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chocolatier', new_chocolatier_path %>
