<p>
  <b>Name:</b>
  <%= @chocolatier.name %>
</p>

<p>
  <b>Address:</b>
  <%= @chocolatier.address %>
</p>

<p>
  <b>City:</b>
  <%= @chocolatier.city %>
</p>

<p>
  <b>Country:</b>
  <%= @chocolatier.country %>
</p>

<p>
  <b>State:</b>
  <%= @chocolatier.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @chocolatier.zip_code %>
</p>

<p>
  <b>Chocolatier type:</b>
  <%= @chocolatier.chocolatier_type %>
</p>

<p>
  <b>Chocolatier url:</b>
  <%= @chocolatier.chocolatier_url %>
</p>

<p>
  <b>Email:</b>
  <%= @chocolatier.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @chocolatier.phone %>
</p>

<% if can? :edit , @chocolatier %>
<%= link_to 'Edit', edit_chocolatier_path(@chocolatier) %> |
    <% end %>
<%= link_to 'Back', chocolatiers_path %><% if can? :delete , @chocolatier %>|
<%= link_to 'Destroy', @chocolatier, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if admin? %>
    <% if @chocolatier.status != 1 %>
    |<%= link_to 'Approve', approve_chocolatier_path(@chocolatier.id) %>
        <% end %>
<% end %>
