<div id="rating-slider">


  <div id="chocolate-info">
    <div id="chocolate-info-title"><%= @chocolate.name %></div>
    <div class="chocolate-info-text"><b>Maker:</b> <%= @chocolate.chocolatier.name %></div>
    <div class="chocolate-info-text"><b>Beans:</b> <%= @chocolate.beans %></div>
    <div class="chocolate-info-text"><b>Type: </b> <%= @chocolate.type_of_chocolate %></div>
    <div class="chocolate-info-text"><b>Cocoa: </b> <%= @chocolate.cocoa %></div>
  </div>

  <div id="chocolate-slider">
    <ul id="pikame" class="jcarousel-skin-pika">
      <% for photo in @chocolate.photos %>
          <li><%= image_tag photo.image_url(:thumb) %></li>
      <% end %>
    </ul>
  </div>


</div>