<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>chocolate-raters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%#= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag   "facebox", "bootstrap.min","bootstrap-responsive.min","bottom" ,"style2", media: "all" %>
  <%= javascript_include_tag "application" %>
 <%= csrf_meta_tag %>
</head>
<body>
<div id="header-background"></div>
<div id="header-background-right"></div>

<div class="navbar-wrapper" style="position: static;">
  <div class="navbar">
    <div class="content-wrapper">
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <div id="header-links">
              <%= link_to (image_tag 'header-links.png'),root_path %>
            </div>
            <div id="header-logo">
              <%= link_to (image_tag 'logo.png'), root_path %>
            </div>
          </div>

          <div class="span4">
            <div id="search-box-in-header">
              <form action="<%= show_search_chocolates_path %>" method="get">
                <input type="text" name="search" placeholder="Enter chocolate/ chocolatier/ place to either rate or find">
                <button id="search-box-button"><%= image_tag 'search-button.png'%></button>
              </form>
            </div>
          </div>

          <div class="span6"  id="menu-and-login">
            <div class="row-fluid">


              <div class="span10">


                <div class="navbar">
                  <div class="navbar-inner" id="main-menu">
                    <div class="container">
                      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <div class="nav-collapse collapse">
                        <ul class="nav">
                          <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/chocolate">
                              Chocolates
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                              <li><a href="<%=  new_chocolate_path %>">Add Chocolate</a></li>
                              <li><a href="<%= chocolates_path %>">View Chocolate List</a></li>
                              <!---<li><a href="#">Top Chocolates</a></li>--->
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                              Chocolatiers
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                              <li><a href="<%= new_chocolatier_path %>">Add Chocolatier</a></li>
                              <li><a href="<%= chocolatiers_path %>">View Chocolatier List</a></li>
                              <!---<li><a href="#">Top Chocolatiers</a></li>---->
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                              Shop
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                              <li><a href="#">Comming soon</a></li>

                              <!---<li><a href="#">Top Chocolatiers</a></li>---->
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <!--/.nav-collapse -->
                    </div>
                  </div>
                </div>


              </div>
              <div class="span2" id="user-menu">
                <div id="logged-in-user-pic">
                  <% if current_user %>
                      <% if !(current_user.photo.blank?) %>
                          <%= image_tag current_user.photo %>
                      <% elsif !(current_user.fb_photo.blank?) %>
                          <%= image_tag current_user.fb_photo %>
                      <% else %>
                          <%= image_tag 'default_pro.jpg'  %>
                      <% end %>
                  <% end %>

                </div>
                <% if current_user %>
                    <div id="user-options">
                      <ul class="nav">
                        <li class="dropdown">
                          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/chocolate">
                            <%= current_user.user_name.split(" ").first %>
                            <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                <%  else %>
                    <%= link_to("Login", "javascript:void(0);", :class => 'login', :id => 'login-signup') %>
                <% end %>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>

    <!--<div class="navbar-inner content-wrapper" id="main-menu">
      <div class="container" id="main-menu-container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Chocolates', chocolates_path %></li>
            <li><%= link_to 'Add chocolate', new_chocolate_path %></li>
            <li><%= link_to 'Chocolatiers', chocolatiers_path %> </li>
            <li><%= link_to 'Add chocolatier', new_chocolatier_path %></li>
          </ul>
        </div>
        /.nav-collapse -->
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <p id="notice" style="margin-top: 5px"><%= notice %></p>
  <%= yield %>
</div>
<%= render partial: 'shared/footer' %>
</body>
</html>
<script type="text/javascript">
    $(".login").click(function()
    {
        $.ajax({
            type: 'get',
            url: "<%= new_user_path() %>",
            dataType: 'script'
        });
    });
    $(document).ready(function(){
        //$('.dropdown-toggle').dropdown()
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(20).fadeIn(50);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(20).fadeOut(50);
        });

    });
</script>
