<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chocolate-Raters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag  "facebox","bootstrap.min","bootstrap-responsive.min","style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
<div class="navbar-wrapper">
  <div class="navbar">
    <div class="content-wrapper">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <div id="header-links">
              <%= link_to (image_tag 'header-links.png'),root_path %>
            </div>
            <div id="header-logo">
              <%= link_to (image_tag 'logo.png'), root_path %>
            </div>
          </div>


          <div class="span9"  id="menu-and-login">
            <div class="row-fluid">
                  <div class="span9 offset2">
                     <div class="navbar">
                        <div class="navbar-inner" id="main-menu">
                          <div class="container">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <div class="nav-collapse collapse">
                              <ul class="nav">
                                <li class="dropdown">
                                  <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/chocolate">
                                    Chocolates
                                    <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="<%=  new_chocolate_path %>">Add Chocolate</a></li>
                                    <li><a href="<%= chocolates_path %>">View Chocolate List</a></li>
                                    <!---<li><a href="#">Top Chocolates</a></li>--->
                                  </ul>
                                </li>
                                <li class="dropdown">
                                  <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                    Chocolatiers
                                    <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="<%= new_chocolatier_path %>">Add Chocolatier</a></li>
                                    <li><a href="<%= chocolatiers_path %>">View Chocolatier List</a></li>
                                    <!---<li><a href="#">Top Chocolatiers</a></li>---->
                                  </ul>
                                </li>
                                <li class="dropdown">
                                  <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                    Shop
                                    <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="<%= chocolates_path %>">Comming soon</a></li>

                                    <!---<li><a href="#">Top Chocolatiers</a></li>---->
                                  </ul>
                                </li>
                              </ul>
                            </div>
                            <!--/.nav-collapse -->
                          </div>
                        </div>
                    </div>


                  </div>
                  <div class="span1" id="user-menu">
                    <div id="logged-in-user-pic">
                      <% if current_user %>
                          <% if !(current_user.photo.blank?) %>
                              <%= image_tag current_user.photo %>
                          <% elsif !(current_user.fb_photo.blank?) %>
                              <%= image_tag current_user.fb_photo %>
                          <% else %>
                              <%= image_tag 'default_pro.jpg'  %>
                          <% end %>
                      <% end %>

                    </div>
                    <% if current_user %>
                    <div id="user-options">
                    <ul class="nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/chocolate">
                          <%= current_user.user_name.split(" ").first %>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
                          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        </ul>
                      </li>
                      </ul>
                    </div>
                    <%  else %>
                    <%= link_to("Login", "javascript:void(0);", :class => 'login', :id => 'login-signup') %>
                        <% end %>
                  </div>

            </div>


          </div>

        </div>
        <% if notice.present? %>
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= notice %></strong>
            </div>
        <% end %>
      </div>
    </div>

    <!--<div class="navbar-inner content-wrapper" id="main-menu">-->
      <!--<div class="container" id="main-menu-container">-->
        <!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<div class="nav-collapse collapse">-->
          <!--<ul class="nav">-->
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li class="nav-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><%#= link_to 'Chocolates', chocolates_path %></li>-->
            <!--<li><%#= link_to 'Add chocolate', new_chocolate_path %></li>-->
            <!--<li><%#= link_to 'Chocolatiers', chocolatiers_path %> </li>-->
            <!--<li><%#= link_to 'Add chocolatier', new_chocolatier_path %></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>



<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
  <div id="over-slideshow"></div>

  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'Slider_1.jpg'%>

      <div class="container">
        <div class="carousel-caption hidden-phone">

        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'Slider_2.jpg'%>

      <div class="container">
        <div class="carousel-caption hidden-phone">

        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'Slider_3.jpg'%>

      <div class="container">
        <div class="carousel-caption hidden-phone">

        </div>
      </div>
    </div>


  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <div class="content-wrapper">
    <div class="container">

      <div class="row-fluid">
        <% if current_user %>
        <div class="span12" id="search-box-on-slider">

          <form action="<%= show_search_chocolates_path %>" method="get">
            <input type="text" name="search" placeholder="Enter chocolate/ chocolatier/ place to either rate or find">
            <button id="search-box-button"><%= image_tag 'search-button.png'%></button>
          </form>

        </div>
         <% else %>
        <div class="span8" id="sign-in-links">
          <span id="email-signup"> <%= link_to(image_tag('sign-up-with-email.png'), "javascript:void(0);", :class => 'login') %></span>
          <span id="facebook-signup"><%= link_to (image_tag('Sign_in_final-16_09.png')), user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 600, :"data-height" => 400 %></span>

        </div>
        <% end %>
      </div>
    </div>
  </div>


  <!-------<div class="content-wrapper">
    <ol class="carousel-indicators carousel-indicator-button hidden-phone">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <div style="width: 108px; height: 17px; position: absolute;left: 0; top: 0;"></div>
    </ol>
  </div>---->
</div>

<%= yield %>
<%= render partial: 'shared/footer' %>



<!--<script src="jquery/jquery-1.10.2.min.js"></script>-->
<!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="bootstrap/js/bootstrap-carousel.js"></script>-->
<!--<script src="bootstrap/js/bootstrap-transition.js"></script>-->
<!--<script src="bootstrap/js/bootstrap-dropdown.js"></script>-->
<!--<script src="js/script-carousel-ie.js"></script>-->

<script>
    !function ($) {
        $(function () {
            // carousel demo
            $('#myCarousel').carousel();
            $('#miniCarousel').carousel({interval: false});

        })
    }(window.jQuery)


    $(".login").click(function()
    {
        $.ajax({
            type: 'get',
            url: "<%= new_user_path() %>",
            dataType: 'script'
        });
    });
    $(document).ready(function(){
        //$('.dropdown-toggle').dropdown()
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(20).fadeIn(50);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(20).fadeOut(50);
        });

    });

</script>
</body>
</html>