<%= nested_form_for @chocolate, :html => { :multipart => true } do |f| %>
    <% if @chocolate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chocolate.errors.count, "error") %> prohibited this chocolate from being saved:</h2>

          <ul>
            <% @chocolate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div id="chocolate-form">
      <div class="field">
        <div class="required-star">*</div>
        <%=  f.select :chocolatier_id, options_for_select(@chocolatiers.collect{|c| [c.name, c.id]}) ,:placeholder => 'Select a chocolatier' %>
      </div>
    <div class="field">
      <div class="required-star">*</div>
      <%= f.text_field :name , :placeholder => 'Name' %>
    </div>


    <div id="type">
      <%= f.radio_button :type_of_chocolate, 'bar' ,:id =>'type_bar',:class =>'type' %><span class="type_option">Bar </span>
      <%= f.radio_button :type_of_chocolate, 'Truffle/bonbon' ,:id => 'type_truffle',:class =>'type' %> <span class="type_option">Truffle/bonbon </span>
    </div>


      <div id="bar_type">
        <%= f.radio_button :bar_type, 'dark' ,:class =>'type' %><span class="type_option">Dark </span>
        <%= f.radio_button :bar_type, 'milk',:class =>'type' %> <span class="type_option">Milk</span>
        <%= f.radio_button :bar_type, 'white',:class =>'type' %> <span class="type_option">White</span>
      </div>

    <div id="cocoa" >
      <%= f.text_field :cocoa,:placeholder => 'Cocoa(%)' %>
    </div>

      <div id="bar_state">
        <%= f.radio_button :bar_state, 'solid' ,:class =>'type' %><span class="type_option">Solid </span>
        <%= f.radio_button :bar_state, 'filled/flavored',:class =>'type' %> <span class="type_option">Filled/Flavored</span>
      </div>

      <div class="field">
        <%= f.text_area :beans ,:placeholder => 'Beans'%>
      </div>
    <div class="field">
      <%= f.text_area :description,:placeholder => 'Commercial Description' %>
    </div>

    <div class="field">
      <%= f.fields_for :photos do |builder| %>
          <% if builder.object.new_record? %>
          <%= builder.file_field :image ,:class => 'file_field' %>
              <%= builder.link_to_remove "Remove"  %>
           <% else %>
              <div id="mphoto">
              <div id="photo" style="width: 200px; height: 200px; border: solid 1px black; margin: 10px;">
            <%=  image_tag builder.object.image.url, :size =>'200x200' %>
              </div>
          <%= builder.link_to_remove "Remove"  %>
              </div>
          <% end %>
      <% end %>
    </div>
    <%= f.link_to_add "Add a photo", :photos %>
    <div class="actions">
      <%= f.button :submit  %>
    </div>
        </div>
<% end %>
<script>
  $(document).ready(
          function(){
              $('#cocoa').hide();
              $('#bar_type').hide();
              $('#bar_state').hide();
              $('#type_bar').click(
                      function(){
                          $('#cocoa').show();
                          $('#bar_type').show();
                          $('#bar_state').show();
                      }
              )
              $('#type_truffle').click(
                      function(){
                          $('#cocoa').hide();
                          $('#bar_type').hide();
                          $('#bar_state').hide();
                      }
              )


          }
  )
</script>
