<div id="chocolates">

  <ul>
    <li class="head">
      <span class="chocolate-name">Chocolate</span>

      <span class="chocolate-rating-in-index">Rating</span>
      <span class="star-image"></span>
    </li>

     <% count =1 %>

    <% @chocolates.each do |chocolate| %>
        <% class_name=" " %>

        <% if(count%2 == 0)    %>
             <% class_name = "even-li" %>
        <% else class_name = "odd-li" %>
        <% end %>
    <li class="<%= class_name %>">
      <% pic = Photo.find_by_chocolate_id(chocolate.id) %>
      <span class="chocolate-image"><%= link_to image_tag( pic.image), chocolate %></span>
      <span class="chocolate-name"><%= link_to chocolate.name, chocolate %></span>

      <span class="chocolate-rating-in-index"><%= number_with_precision chocolate.ratings.average(:rate),:precision => 0 %></span>
      <span class="star-image"><%= link_to image_tag('chocolate-rating-star.png'), rate_chocolate_chocolates_path(:chocolate_id => chocolate.id) %></span>
    </li>
        <% count+= 1 %>
    <% end %>
  </ul>

 <div id="chocolate-index-page-no">
<%= will_paginate @chocolates %>
 </div>
 </div>