<div id="chocolates" >
<h1>Listing chocolates</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chocolates.each do |chocolate| %>
  <tr>
    <% pic = Photo.find_by_chocolate_id(chocolate.id) %>
    <td>
      <% if !(pic.blank?)  %>
           <%= link_to image_tag( pic.image  ,:size => '180x180')%>
       <% end %>
    </td>
    <td><%= link_to chocolate.name, chocolate %></td>
    <td><%= chocolate.ratings.average(:rate) %></td>



  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chocolate', new_chocolate_path %>
<%= will_paginate @chocolates %>
 </div>