
 <div class="row-fluid">
   <div class="span5">
     <%= render partial: 'shared/chocolate_profile', locals: {student: @chocolate} %>
   </div>

   <div class="span7" id="rating-chocolate">
     <% if @rating = Rating.find_by_chocolate_id_and_user_id(@chocolate.id,current_user.id) %>
         <form action="<%= edit_rating_ratings_path  %>" >
     <% else %>
         <form action="<%= add_rating_ratings_path  %>" >
     <% end %>
     <div class="row-fluid">
       <div class="span6" id="rating-chocolate-price">
         <div id="rating-chocolate-price-inner">
           <span id="total"></span>
         </div>
       </div>
       <div class="span6" id="rating-chocolate-remark">
         <div class="chocolate-rating">

           <div class="rating-category">Look</div>
           <%= image_tag 'rating-star.png', :id => 'qlook' %>
           <%= select_tag "look", options_for_select((1..10).step(1)) ,:prompt => " " %>
           <div class="divide-by">/10</div>
         </div>
         <div class="chocolate-rating">
           <div class="rating-category">Smell</div>
           <%= image_tag 'rating-star.png', :id => 'qsmell' %>
           <%= select_tag "smell", options_for_select((1..10).step(1)) ,:prompt => " "  %>
           <div class="divide-by">/10</div>
         </div>
         <div class="chocolate-rating">
           <div class="rating-category">Snap</div>
           <%= image_tag 'rating-star.png', :id => 'qsnap' %>
           <%= select_tag "snap", options_for_select((1..10).step(1)) ,:prompt => " " %>
           <div class="divide-by">/10</div>
         </div>
         <div class="chocolate-rating">
           <div class="rating-category">Mouthfeel</div>
           <%= image_tag 'rating-star.png',:id => 'qmouthfeel' %>
           <%= select_tag "mouthfeel", options_for_select((1..10).step(1)) ,:prompt => " " %>
           <div class="divide-by">/10</div>
         </div>
         <div class="chocolate-rating">
           <div class="rating-category">Taste</div>
           <%= image_tag 'rating-star.png',:id => 'qtaste' %>
           <%= select_tag "taste", options_for_select((1..20).step(1)) ,:prompt => " "  %>
           <div class="divide-by">/20</div>
         </div>
         <div class="chocolate-rating">
           <div class="rating-category">Overall</div>
           <%= image_tag 'rating-star.png', :id => 'qoverall' %>
           <%= select_tag "aftertaste", options_for_select((1..40).step(1)) ,:prompt => " "  %>
           <div class="divide-by">/40</div>
         </div>
       </div>
     </div>

     <div class="row-fluid">
       <div class="span12" id="rating-chocolate-review">
         <input type="hidden" name="chocolate_id" value="<%= @chocolate.id %>" >
         <input type="hidden" name="rate" id="rate" >
         <% if @rating != nil %>
             <%= text_area_tag "comment" , @rating.comment %>
         <% else %>
             <textarea name="comment" placeholder="Reviews...."></textarea>
         <% end %>
           <button type="submit">Submit</button>

       </div>
     </div>
     </form>
     </form>
   </div>
 </div>
 <script language="javascript">
     $(document).ready(
             function (){
                 $("#pikame").PikaChoose({
                     carousel:true,
                     showCaption:false,
//                    text: { previous: "< previous", next: "next >", loading: "Loading..." },
                     autoPlay: false
                 });

                 $('#qlook').qtip({
                     position :{
                        corner:{
                            tooltip:'topLeft',
                            target: 'bottomMiddle'
                        }
                     },
                     content: 'Chocolate should be smooth and a consistent color, be free of blooming (the gray-ish chalky spots that get on chocolate when it has not been stored properly), and there should be no visible streaks of cocoa butter.',
                     show: 'mouseover',
                     hide: 'mouseout' ,
                     style: {
                         border: {
                             width: 1,
                             color: '#AE7647',
                             radius: 2
                         },
                         background: 'white',
                         padding: 10,
                         textAlign: 'left',
                         tip: true, // Give it a speech bubble tip with automatic corner detection
                         name: 'cream' // Style it according to the preset 'cream' style
                     }
                 });
                 $('#qsmell').qtip({
                     position :{
                         corner:{
                             tooltip:'topLeft',
                             target: 'bottomMiddle'
                         }
                     },
                     content: 'Chocolate should be smooth and a consistent color, be free of blooming (the gray-ish chalky spots that get on chocolate when it has not been stored properly), and there should be no visible streaks of cocoa butter.',
                     show: 'mouseover',
                     hide: 'mouseout' ,
                     style: {
                         border: {
                             width: 1,
                             color: '#AE7647' ,
                             radius: 2

                         },
                         background: 'white',
                         padding: 10,
                         textAlign: 'left',
                         tip: true, // Give it a speech bubble tip with automatic corner detection
                         name: 'cream' // Style it according to the preset 'cream' style
                     }
                 });
                 $('#qsnap').qtip({
                     position :{
                         corner:{
                             tooltip:'topLeft',
                             target: 'bottomMiddle'
                         }
                     },
                     content: 'Chocolate should be smooth and a consistent color, be free of blooming (the gray-ish chalky spots that get on chocolate when it has not been stored properly), and there should be no visible streaks of cocoa butter.',
                     show: 'mouseover',
                     hide: 'mouseout' ,
                     style: {
                         border: {
                             width: 1,
                             color: '#AE7647',
                             radius: 2
                         },
                         background: 'white',
                         padding: 10,
                         textAlign: 'left',
                         tip: true, // Give it a speech bubble tip with automatic corner detection
                         name: 'cream' // Style it according to the preset 'cream' style
                     }
                 });
                 $('#qmouthfeel').qtip({
                     position :{
                         corner:{
                             tooltip:'topLeft',
                             target: 'bottomMiddle'
                         }
                     },
                     content: 'Chocolate should be smooth and a consistent color, be free of blooming (the gray-ish chalky spots that get on chocolate when it has not been stored properly), and there should be no visible streaks of cocoa butter.',
                     show: 'mouseover',
                     hide: 'mouseout' ,
                     style: {
                         border: {
                             width: 1,
                             color: '#AE7647',
                             radius: 2

                         },

                         background: 'white',
                         padding: 10,
                         textAlign: 'left',
                         tip: true, // Give it a speech bubble tip with automatic corner detection
                         name: 'cream' // Style it according to the preset 'cream' style
                     }
                 });
                 $('#qtaste').qtip({
                     position :{
                         corner:{
                             tooltip:'topLeft',
                             target: 'bottomMiddle'
                         }
                     },
                     content: 'Chocolate should be smooth and a consistent color, be free of blooming (the gray-ish chalky spots that get on chocolate when it has not been stored properly), and there should be no visible streaks of cocoa butter.',
                     show: 'mouseover',
                     hide: 'mouseout' ,
                     style: {
                         border: {
                             width: 1,
                             color: '#AE7647',
                             radius: 2
                         },
                         background: 'white',
                         padding: 10,
                         textAlign: 'left',
                         tip: true, // Give it a speech bubble tip with automatic corner detection
                         name: 'cream' // Style it according to the preset 'cream' style
                     }
                 });
                 $('#qoverall').qtip({
                     position :{
                         corner:{
                             tooltip:'topLeft',
                             target: 'bottomMiddle'
                         }
                     },
                     content: 'Chocolate should be smooth and a consistent color, be free of blooming (the gray-ish chalky spots that get on chocolate when it has not been stored properly), and there should be no visible streaks of cocoa butter.',
                     show: 'mouseover',
                     hide: 'mouseout' ,
                     style: {
                         border: {
                             width: 1,
                             color: '#AE7647',
                             radius: 2
                         },
                         background: 'white',
                         padding: 10,
                         textAlign: 'left',
                         tip: true, // Give it a speech bubble tip with automatic corner detection
                         name: 'cream' // Style it according to the preset 'cream' style
                     }
                 });

         var total_rate= 0;
         var look_rate=0;
         var smell_rate=0;
         var snap_rate=0;
         var mouthfeel_rate=0;
         var taste_rate=0;
         var aftertaste_rate=0;
         var comment="";
         <% if @rating != nil %>
         look_rate= <%= @rating.look %>
                 document.getElementById('look').value=look_rate

         smell_rate= <%= @rating.smell %>
                 document.getElementById('smell').value=smell_rate

         snap_rate= <%= @rating.snap %>
                 document.getElementById('snap').value = snap_rate

         mouthfeel_rate= <%= @rating.mouthfeel %>
                 document.getElementById('mouthfeel').value = mouthfeel_rate

         taste_rate= <%= @rating.taste %>
                 document.getElementById('taste').value = taste_rate

         aftertaste_rate= <%= @rating.aftertaste %>
                 document.getElementById('aftertaste').value = aftertaste_rate

         total_rate= <%= @rating.rate %>
                 $("#rate").val(total_rate);
         <% end %>




         document.getElementById('total').innerHTML=total_rate;
         $("#look").click(function(){
             if (document.getElementById('look').value ){
                 total_rate= total_rate-look_rate
                 look_rate =parseFloat( document.getElementById('look').value)
                 total_rate= total_rate + look_rate
                 document.getElementById('total').innerHTML=total_rate;
                 $("#rate").val(total_rate);
             }

         });
         $("#smell").click(function(){
             if (document.getElementById('smell').value ){
                 total_rate= total_rate-smell_rate
                 smell_rate = parseFloat( document.getElementById('smell').value)
                 total_rate= total_rate + smell_rate
                 document.getElementById('total').innerHTML=total_rate;
                 $("#rate").val(total_rate);
             }
         });
         $("#snap").click(function(){
             if (document.getElementById('snap').value ){
                 total_rate= total_rate-snap_rate
                 snap_rate = parseFloat( document.getElementById('snap').value)
                 total_rate= total_rate + snap_rate
                 document.getElementById('total').innerHTML=total_rate;
                 $("#rate").val(total_rate);
             }

         });
         $("#mouthfeel").click(function(){
             if (document.getElementById('mouthfeel').value ){
                 total_rate= total_rate-mouthfeel_rate
                 mouthfeel_rate = parseFloat( document.getElementById('mouthfeel').value)
                 total_rate= total_rate + mouthfeel_rate
                 document.getElementById('total').innerHTML=total_rate;
                 $("#rate").val(total_rate);
             }

         });
         $("#taste").click(function(){
             if (document.getElementById('taste').value ){
                 total_rate= total_rate-taste_rate
                 taste_rate = parseFloat( document.getElementById('taste').value)
                 total_rate= total_rate + taste_rate
                 document.getElementById('total').innerHTML=total_rate;
                 $("#rate").val(total_rate);
             }

         });
         $("#aftertaste").click(function(){
             if (document.getElementById('aftertaste').value ){
                 total_rate= total_rate-aftertaste_rate
                 aftertaste_rate = parseFloat( document.getElementById('aftertaste').value)
                 total_rate= total_rate + aftertaste_rate
                 document.getElementById('total').innerHTML=total_rate;
                 $("#rate").val(total_rate);
             }

         });




     });
 </script>