<div class="row-fluid">
  <div class="span5" id= "chocolate-profile">
    <%= render partial: 'shared/chocolate_profile', locals: {student: @chocolate} %>


    <P>
      <div id="chocolate-edit-destroy">
      <% if can? :edit , @chocolate %>
          <%= link_to 'Edit', edit_chocolate_path(@chocolate) %> |
      <% end %>
         <% if can? :delete , @chocolate %>
          <%= link_to 'Destroy', @chocolate, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div>
    </P>
  </div>

  <div class="span7" id="rating-chocolate">
    <div class="row-fluid">
      <div class="span6">
      <div  id="rating-chocolate-price">

        <% total_rate = number_with_precision @chocolate.ratings.average(:rate), :precision => 2 %>
        <% rate = total_rate.to_s.split(".") %>

        <div id="rating-chocolate-price-inner">
          <span class="before-point"><%= rate[0] %></span><span class="after-point"><% if !(total_rate.blank?) %>.<% end %><%= rate[1] %></span>
        </div>
      </div>

      </div>



      <div class="span6" id="rating-chocolate-remark">
        <div class="row-fluid" id=" buy-link">
          <div class="span6" id="buy-button">
            <button>Buy</button>
          </div>
        </div>
        <div class="row-fluid" id=" buy-link">
          <div class="span6" id="rate-button">
            <button onclick="window.location.href= '<%= rate_chocolate_chocolates_path(:chocolate_id => @chocolate.id) %>'">Rate this chocolate</button>
          </div>
        </div>
      </div>
    </div>






    <div class="row-fluid" id="profile-review-container">
      <div class="span12" id="chocolate-profile-review">
        <p id="review-header">Reviews</p>
        <div class="chocolate-reviews">
          <% @reviews= Rating.find_all_by_chocolate_id(@chocolate.id, :limit => 20) %>
          <% if @reviews.blank? %>
                  <div>No reviews yet...</div>
              <% else %>
          <% @reviews.each do |review| %>
              <% user = User.find(review.user_id) %>
              <div id="each-review">
             <div id="chocolate-review-user-name"><strong><a href="<%=  %>"><%= user.user_name  %></a> </strong></div>
              </br>
              <div id="rate-and-comment"><span id="rate"><%= review.rate %></span> <span id="comment"><%= review.comment %></span></div>

              </div>
          <% end %>
              <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<script language="javascript">
    $(document).ready(
            function (){
                $("#pikame").PikaChoose({
                    carousel:true,
                    showCaption:false,
//                    text: { previous: "< previous", next: "next >", loading: "Loading..." },
                    autoPlay: false
                });

            });
</script>

<style>

</style>

