<div class="content-wrapper" id="search-result-page-title">
  <p>Search results for <b>"<%= @search %>"</b></p>
</div>
<div id="search-result-area">
  <ul>
    <li class="title-text">Chocolate</li>
    <li class="title-head">
      <div class="name">Name</div>
      <div class="actions">Actions</div>
      <div class="score">Score</div>
      <div class="ratings">Ratings</div>
    </li>
    <% @chocolates.each do |chocolate| %>
        <li class="chocolate">
          <div class="name">
            <% if  Photo.find_by_chocolate_id(chocolate.id).present? %>
            <img class="chocolate-image" src="<%= Photo.find_by_chocolate_id(chocolate.id).image %>">
                <% end %>
            <p><%= link_to chocolate.name, chocolate %></p>
          </div>
          <div class="actions">
            <div class="star"></div>
            <div class="cart"></div>
            <div class="statistic"></div>
          </div>
          <div class="score"></div>
          <div class="ratings"><%= number_with_precision chocolate.ratings.average(:rate), :precision => 2 %></div>
        </li>
     <% end %>
  </ul>

  <ul class="chocolatiers">
    <li class="title-text">Chocolatiers</li>
    <li class="title-head">
      <div class="name">Name</div>
    </li>
    <% @chocolates_by_unique_chocolatier.each do |chocolate| %>
        <% chocolatier = Chocolatier.find(chocolate.chocolatier_id) %>
    <li>
      <div class="name"><%= link_to chocolatier.name, chocolatier %></div>
      <div class="details"><%= chocolatier.country %></div>
    </li>
   <% end %>
  </ul>

  <ul class="chocolatiers">
    <li class="title-text">Place</li>
    <li class="title-head">
      <div class="name">Name</div>
    </li>
    <li>
      <div class="name"></div>
      <div class="details"></div>
    </li>
  </ul>
</div>
